.Headadmin {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    color: #34f1ff;
}
.PendingOrderhead{
    text-align: center;
    color: rgb(255, 44, 44);
    margin-top: 1.4rem;
}
.AdminDiv{
    min-height: 100vh;
    padding-bottom: 2rem;
}
.allOrders {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.7rem;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}
.allOrders button {
    width: auto;
    padding: 0.3rem;
    margin: auto;
    font-weight: bold;
    border-radius: 0.5rem;
    border: 2px solid red;
    cursor: pointer;
    margin-top: 0.8rem;
    background-color: #c9c9c9;
}
.datas{
    border: 3px solid green;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: auto;
    gap: 0.2rem;
}
@media only screen and (width<=600px) {
    .allOrders {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .datas {
        border: 3px solid green;
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: auto;
        gap: 0.2rem;
    }
}