.bannerimg {
    width: 100%;
    height: 75%;
    background-size: cover;
    vertical-align: top;
    object-fit: cover;
  }
  .slider-container {
    width: 100%;
    height: 75%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .sliderIntro {
    background-color: black;
    height: 84vh;
    overflow: hidden;
  }
  .introhead{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
  }
.introdiv{
  padding-bottom: 2rem;
  height: auto;
}
.introimagediv {
  margin-top: 2.7rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.introimg {
  width: 100%;
  height: 42vh;
  object-fit: fill;
  filter: drop-shadow(0px 0px 7px #515151);
  animation: imgUp 0.9s linear infinite alternate;
}
.imgcont {
  width: 22%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2.5px;
  font-family: "Croissant One", cursive;
}
@keyframes imgUp {
  to {
    transform: translateY(-5px);
  }
}
.dishdiv{
  width: 100%;
  padding-bottom: 3rem;
  height: auto;
}
.dish,.Bdish {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  justify-content: center;
}
.dishCont {
  width: 43%;
  letter-spacing: 1px;
  display: flex;
  font-size: 1.3rem;
  padding: 2rem 2rem 2rem 7rem;
  flex-direction: column;
  gap: 2rem;
}
.dishCont h3{
  font-size: 3rem;
}
.dishVideo {
  width: 43%;
  height: 50vh;
  border-radius: 2rem;
}
.menulink{
  color: white;
  border: 3px solid #ff4c4c;
  width: 17%;
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 1rem;
  background-color: #ff4545;
}
.menulink:hover{
  background-color: #2a2a2a;
  border: 3px solid #2bff00;
}
@media only screen and (width<= 600px) {
    .bannerimg {
        width: 100%;
        height: 100%;
        background-size: cover;
        vertical-align: top;
        object-fit: cover;
      }
      .sliderIntro {
        background-color: black;
        height: auto;
        overflow: hidden;
      }
      .introhead {
        font-size: 1.2rem;
        text-align: center;
        margin-top: 1rem;
    }
    .introimagediv {
      margin-top: 1rem;
      display: flex;
      gap: 0.5rem;
  }
  .imgcont {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    font-weight: 100;
    letter-spacing: 2.5px;
    font-family: cursive;
}
.introimg {
  width: 100%;
  height: 17vh;
  filter: drop-shadow(0px 0px 5px #515151);
}
.dish {
  width: 100%;
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
}
.Bdish {
  width: 100%;
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 1rem;
  justify-content: center;
}
.dishCont {
  width: 93%;
  letter-spacing: 1px;
  display: flex;
  font-size: 1rem;
   padding: 0rem;
  flex-direction: column;
  gap: 1rem;
}
.menulink {
  color: white;
  border: 3px solid #ff4c4c;
  width: 35%;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #ff4545;
}
.dishVideo {
  width: 94%;
  height: 25vh;
  border-radius: 2rem;
}
}