.pizzmenu,.bugerdiv,.cakediv{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1rem;
}
.productCard {
    border: 2px solid white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 14vw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 40vh;
    justify-content: center;
    align-items: center;
}
.productimg {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 1rem;
}
.addtocartbtn {
    padding: 0.3rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid white;
}
@media only screen and (width <= 600px){
    .pizzmenu,.bugerdiv,.cakediv{
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.5rem;
        flex-direction: row;
        gap: 0.5rem;
    }
    .productCard {
        border: 2px solid white;
        padding: 1rem;
        margin: 1rem;
        border-radius: 1rem;
        width: 55%;
        display: flex;
        flex-direction: column;
        height: 46vh;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
    }
    .productimg {
        width: 100%;
        height: 65%;
        object-fit: cover;
        border-radius: 1rem;
    }
}