.OrderHead{
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    color: #34f1ff;
}
.MyorderDiv{
    min-height: 80vh;
    padding-bottom: 2rem;
}
.MyorderDatas {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.7rem;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}
.datas{
    border: 3px solid green;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: auto;
    gap: 0.2rem;
}
@media only screen and (width<=600px) {
    .MyorderDatas {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .datas {
        border: 3px solid green;
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: auto;
        gap: 0.2rem;
    }
}